html {
 background-color: #7e7e7e;   
}

.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

body {
    opacity : 0;
    transition : opacity 1s ease; 
}

.loaded {
   opacity : 1;
}

div#menu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #FF0000; 
   width: 100%; 
   text-align: center; 
} 

div#menu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#menu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#menu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 50px; 
   color: #D3D3D3; 
} 

div#menu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #ffffff; 
} 

div#menu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 50px; 
   color: #FF0000; 
} 

div#menu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: 50px; 
   color: #FFFFFF; 
   background-color: #FF0000; 
}